.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.nav-items>ul{
    display: flex;

}

.nav-items>ul>li{
    padding: 10px 20px;
    list-style: none;
}

.res-card{
    margin: 5px;
    width: 195px;
    background-color: #f0f0f0;
    overflow: hidden;
   
   
    
}
.img{
    width: 100%;
    height: 100%;
}
.img-container{
    height: 180px;

}
.res-card:hover{
    opacity: .9;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px;
    border: 1px solid black;

}
.res-container{

    display: flex;
    flex-wrap: wrap;

    
      
        transition: all 0.05s ease 0s;
      
    
}

.res-card>h3{
    margin: 0px;
    padding: 1px;
}

h4{
    margin-top: 4px;
    margin-bottom: 0px;
    overflow-wrap: break-word;
}

.hide{
    display: none;
}

.filter-btn{
    cursor: pointer;
margin: 5px;
    padding-bottom: 1px;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card{

    height: 400px;
    width: 194px;
    margin: 5px;
    background-color: #f0f0f0;
}

.shimmer-btn{
    margin: 5px;
    background-color: #f0f0f0;
    height: 20px;
    width: 130px;
    border: none;

}

.filter{

    display: flex;
    gap: 5px;
}

.res_info{
    display: flex;
    justify-content: space-between;
}
.rating{
    border: 1px solid #e9e9eb;
    box-shadow: 0 1px 5px #f9f9f9;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    max-width: 100px;
   
}
.res_name{
    
}



